Repository wp-cli/maintenance-mode-command, pull requests merged in 2019-04, with the labels that each got.

#1 Add command for managing maintenance mode
  composer.json
  features/maintenance-mode.feature
  src/MaintenanceModeCommand.php
Labels: command:maintenance-mode, command:maintenance-mode-activate, command:maintenance-mode-deactivate, command:maintenance-mode-is-active, command:maintenance-mode-status

#2 Add README.md file
  README.md
Labels: scope:documentation

#3 Implement CS checking based on the WP_CLI_CS ruleset
  .distignore
  .gitignore
  composer.json
  maintenance-mode-command.php
  phpcs.xml.dist
Labels: command:maintenance-mode
